* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 70%;
    margin: 20px auto;
}

.form {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #e9e9ee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    width: calc(100% - 85px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: large;
}

.add {
    color: white;
    background-color: #ef3b37;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tasks {
    padding: 20px;
    border-radius: 15px;
    background-color: #e9e9ee;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task {
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    background-color: #fcfcff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete {
    background-color: #ef3b37;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}